a{
    color: inherit;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.indexList{
    padding-right:0.75rem;
}
.big{
    font-size: 30px;
}
.article{
    text-indent: 2em;

}
#app{
    height:100%;

}
.marR{
    margin-right:0.4rem;
}
.font12{
    font-size: 13px;
}
.content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;


}
.detailContent{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    padding: 0.5rem;
    background: white;
}
.clearPt{
    margin-top: 0rem;
}
ul,li{
    list-style: none;
    margin: 0;
    padding:0;
}